#container{
    width: 600px;
    margin: 0 auto;
    padding-top: 68px;
    /* border: 1px solid #000; */
  }
  .infotext{
    width: 100%;
    float: left;
    font-family: roboto;
    font-size: 1.5rem;
    color: #535558;
    margin: 0 0 20px 16px;
  }
  .page-item{
    margin-bottom: 20px;
  }
  .page-item input[type=text]{
    width: calc(386px - 34px);
    height: 44px;
    padding: 0 17px 0 17px;
    border: solid 1px #c7d8e8;
    border-radius: 44px;
    color: #393b3e;
    font-family: roboto;
    font-size: 13px;
    font-style: normal;
    line-height: 20px;
    outline: none;
    letter-spacing: 2px;
  }
  
  .select input[type=text]{
    border-radius: 0;
    border: none;
    height: auto;
  }
  
  .pure-checkbox{
    margin-left: 16px;
  }
  .pure-checkbox input[type="checkbox"]{
    display: none;
  }
  .pure-checkbox *:before,
  .pure-checkbox *:after,
  .pure-checkbox input[type="checkbox"],
  .pure-checkbox input[type="checkbox"]:focus + label:before,
  .pure-checkbox input[type="checkbox"]:hover + label:before {
  border-color: #393b3e;
  background-color: #f2f2f2;
  }
  .pure-checkbox input[type="checkbox"]:active + label:before {
  transition-duration: 0s;
  }
  .pure-checkbox input[type="checkbox"] + label {
  position: relative;
  padding: 5px 5px 5px 2em;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  font-family: roboto;
  font-size: 12px;
  }
  .pure-checkbox input[type="checkbox"] + label:before{
  box-sizing: content-box;
  content: '';
  color: #393b3e;
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -9px;
  border: 2px solid #393b3e;
  text-align: center;
  transition: all 0.4s ease;
  }
  .pure-checkbox input[type="checkbox"] + label:after {
  box-sizing: content-box;
  content: '';
  background-color: #393b3e;
  position: absolute;
  top: 50%;
  left: 4px;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  transform: scale(0);
  transform-origin: 50%;
  transition: transform 200ms ease-out;
  }
  
  .pure-checkbox input[type="checkbox"] + label:after {
  background-color: transparent;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 3px;
  margin-top: -4px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0 0 3px 3px;
  border-image: none;
  transform: rotate(-45deg) scale(0);
  }
  .pure-checkbox input[type="checkbox"]:checked + label:after{
  content: '';
  transform: rotate(-45deg) scale(1);
  transition: transform 200ms ease-out;
  }
  .pure-checkbox input[type="checkbox"]:checked + label:before {
  animation: borderscale 200ms ease-in;
  background: #393b3e;
  }
  
  ul#date-piker{
    list-style: none;
    padding-left: 16px;
    width: calc(388px - 16px);
  }
  ul#date-piker li{
    display: flow-root;
    margin-bottom: 16px;
  }
  ul#date-piker .from, ul#date-piker .to{
    font-family: roboto;
    font-weight: 500;
    font-size: 12px;
    float: left;
    line-height: 44px;
    width: 85px;
  }
  .select{
    min-height: 44px;
    line-height: 44px; 
    height: 44px;;
    font-size: 12px;
    font-family: roboto;
    font-weight: 500;
    border: 1px solid #c7d8e8;
    border-radius: 44px;
    color: #535558;
    overflow:overlay;
  }
  .select.year{
    width: 82px;
    float: left;
  }
  .select.month{
    width: 182px;
    float: right;
  }
  .select.country{
    width: 388px;
  }
  .select.collapsed{
    border-radius: 22px;
  }
  .select div:first-child{
    padding-left: 18px;
    font-family: roboto;
  }
  .select:before {
    content: ' \25BE';
    font-size: 27px;
    height: 28.4px;
    float: right;
    position: relative;
    right: 12px;
  }
  .select.country:before{
    display: none;
  }
  .scroll{
    display: none;
    line-height: normal; 
    max-height: 100px;
    overflow: auto;
    width: 100%;
  }
  
  .scroll div:hover{
    background-color: #f5f7f8;
  }
  .scroll div:first-child{
    padding: 4px 0 5px 18px;
    font-family: roboto;
  }
  .scroll div:not(:first-child){
    padding: 5px 0 5px 18px;
    font-family: roboto;
  }
  .collapsed{
    height: auto;
  }
  .collapsed .scroll{
    display: block;
  }
  .spinner, .button {
    width: 386px;
    height: 44px;
    background-color: #393b3e;
    color: #fff;
    text-align: center;
    line-height: 44px;
    display: block;
    border-radius: 44px;
    font-family: roboto;
    font-weight: bold;
    cursor: pointer;
  }
  .spinner, .button:hover{
    background-color: #393b3e96;
  }
  .spinner:before {
    position: relative;
    top: 50%;
    left: 50%;
    width: 24px;
    float: left;
    height: 24px;
    margin-top: -13px;
    margin-left: -13px
  }
  
  .spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 1px solid #fff;
    border-top-color: #744e4e;
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
  }
  
  @keyframes spinner {
    to {transform: rotate(360deg);}
  }
  
  @-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
    position: relative;
    right: 4px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cdd2d4; 
    position: relative;
    right: 4px;
  }
  
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #a7b2c3;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #a7b2c3;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #a7b2c3;
  }
  
  
  
  
  
  
  
  
  
  
  
  